## LOADER

In [1]:
import sys
from sys import platform

In [2]:
if platform  == 'win32':
    sys.argv=["_", r"P:\rmahajan14\ndte_data\muni_data", "20170101", "20190930"]
if platform == 'linux' or platform == 'linux2':
    def full_path(p):
        return os.path.abspath(os.path.expanduser(p))
    sys.argv=["_", r"/mnt/d/DiDi_Ride_Data/data", r"/mnt/d/DiDi_Ride_Data/Ride_Data_Cache"]

In [3]:
from loader1 import *
from utils import *
from common import *
# from sys import platform

import warnings
warnings.filterwarnings('ignore')

In [5]:
_ = load_all()

Processing 1 of 30 files
gps_20161114
order_20161114
Processing 2 of 30 files
gps_20161128
order_20161128
Processing 3 of 30 files
gps_20161117
order_20161117
Processing 4 of 30 files
gps_20161112
order_20161112
Processing 5 of 30 files
gps_20161106
order_20161106
Processing 6 of 30 files
gps_20161110
order_20161110
Processing 7 of 30 files
gps_20161130
order_20161130
Processing 8 of 30 files
gps_20161103
order_20161103
Processing 9 of 30 files
gps_20161115
order_20161115
Processing 10 of 30 files
gps_20161102
order_20161102
Processing 11 of 30 files
gps_20161107
order_20161107
Processing 12 of 30 files
gps_20161123
order_20161123
Processing 13 of 30 files
gps_20161116
order_20161116
Processing 14 of 30 files
gps_20161119
order_20161119
Processing 15 of 30 files
gps_20161120
order_20161120
Processing 16 of 30 files
gps_20161122
order_20161122
Processing 17 of 30 files
gps_20161111
order_20161111
Processing 18 of 30 files
gps_20161108
order_20161108
Processing 19 of 30 files
gps_20161125
order_20161125
Processing 20 of 30 files
gps_20161124
order_20161124
Processing 21 of 30 files
gps_20161121
order_20161121
Processing 22 of 30 files
gps_20161113
order_20161113
Processing 23 of 30 files
gps_20161129
order_20161129
Processing 24 of 30 files
gps_20161126
order_20161126
Processing 25 of 30 files
gps_20161101
order_20161101
Processing 26 of 30 files
gps_20161105
order_20161105
Processing 27 of 30 files
gps_20161118
order_20161118
Processing 28 of 30 files
gps_20161109
order_20161109
Processing 29 of 30 files
gps_20161127
order_20161127
Processing 30 of 30 files
gps_20161104
order_20161104

## Process

In [20]:
# gps = read_data('gps')
orders = read_data('order', '20161101')

file path is /mnt/d/DiDi_Ride_Data/Ride_Data_Cache/order_20161101.msgpack

In [5]:
orders[orders.driver_id == '8bcb3fca2eb35d9deaffc274f005d2b8']

,order_id,ride_start_timestamp,ride_stop_timestamp,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,ride_duration,driver_id
52841,4438a9d369e7531f024772f485aeb0c1,2016-11-21 13:56:37,2016-11-21 14:15:31,104.090340,30.657047,104.01371,30.70523,18.900000,8bcb3fca2eb35d9deaffc274f005d2b8
64163,52d98674be5972572bbfe7712f9d2bff,2016-11-21 13:42:31,2016-11-22 07:53:04,104.094231,30.657984,104.03611,30.68324,1090.550000,8bcb3fca2eb35d9deaffc274f005d2b8
170564,dc89973b9fd6df9e3ca32896b291f0f4,2016-11-21 12:59:24,2016-11-21 13:13:58,104.066739,30.632161,104.09247,30.65782,14.566667,8bcb3fca2eb35d9deaffc274f005d2b8

In [6]:
# dropping duplicates
orders = orders.drop_duplicates()
# gps = gps.drop_duplicates()

In [7]:
orders.head()

,order_id,ride_start_timestamp,ride_stop_timestamp,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,ride_duration,driver_id
0,000026aff6d364c56d458090365fedc3,2016-11-21 22:48:25,2016-11-21 23:06:24,104.018239,30.651720,104.092228,30.684789,17.983333,367fd577345b4ba9497ce9d13074c11a
1,0000339c1fb5edbbb10709a2fd1c3712,2016-11-21 11:55:01,2016-11-21 12:21:59,104.146466,30.732592,104.057190,30.646970,26.966667,502db5a8f5628f0b190300e377e94c87
2,0000a6eeeda93826367d3b4274637063,2016-11-21 12:15:55,2016-11-21 12:26:36,104.094300,30.660450,104.074030,30.686300,10.683333,728af7404e674bd416880146bbfdbf0f
3,0000b2b02d9e4e804265f0ea6aaa606c,2016-11-21 20:00:37,2016-11-21 20:25:54,103.999657,30.667120,104.086700,30.652170,25.283333,a23d7c686518975cf1151a28c863148d
4,0000f8fb428d884e1a724adc38ea8e41,2016-11-21 17:35:46,2016-11-21 17:46:04,104.093800,30.681090,104.113800,30.673229,10.300000,1b435c7e59d07625ef9e6183552aa226

In [13]:
data = pd.DataFrame(orders.groupby('driver_id')['order_id'].count()).reset_index()
data.describe()

           order_id
count  35449.000000
mean       5.110779
std        3.983321
min        1.000000
25%        2.000000
50%        4.000000
75%        7.000000
max       56.000000

In [15]:
driver_ride_durations = orders.groupby('driver_id')[['ride_duration']].sum().reset_index()

In [16]:
driver_ride_durations.head()

                          driver_id  ride_duration
0  0000131d486b69eb77ab6e9e7cca9f4c      75.583333
1  000211a97ba2b768ef941593bf1ae1a5     157.016667
2  000770ada4aa5d856b5a766fb6bf7cf1      87.900000
3  0007a380800445346fff19afc4071ce3      23.650000
4  0008c9d2ac91c00ef8b3ef80eba02a06     142.766667

### Single day total active time

In [ ]:
driver_day_min = pd.DataFrame(orders.groupby('driver_id')['ride_start_timestamp'].min()).reset_index()
driver_day_max = pd.DataFrame(orders.groupby('driver_id')['ride_stop_timestamp'].max()).reset_index()
driver_active_time = driver_day_min.merge(driver_day_max, on='driver_id', how='left')
driver_active_time['active_time'] = (driver_active_time['ride_stop_timestamp'] - driver_active_time['ride_start_timestamp']).dt.total_seconds() / 60
driver_active_time.head()

In [ ]:
driver_active_time[driver_active_time.driver_id == '310c5f3ffed8d3d42b90583c596cfd8e']

### Comparing total driver active time vs ride time

In [ ]:
# total driver active time
driver_stats = driver_active_time[['driver_id', 'active_time']].merge(driver_ride_durations, on='driver_id', how='left') 

# Filtering possible bad rows
# driver_stats = driver_stats[driver_stats.active_time > driver_stats.ride_duration]

driver_stats.describe()

In [ ]:
driver_stats[driver_stats.ride_duration > driver_stats.active_time]

In [ ]:
orders[orders.driver_id == '009ba30d83cca1e82e56473b0f029b3f']

In [ ]:
orders[orders.driver_id == '010af431d87d4b94869d350e52a9af15'].sort_values('ride_start_timestamp')

### Trying out geopandas plotting on orders table

In [ ]:
import geopandas
import matplotlib.pyplot as plt

In [ ]:
df = orders.copy()
df.head()

In [ ]:
# Converting to geopandas df
gdf = geopandas.GeoDataFrame(
    df, geometry=geopandas.points_from_xy(df.dropoff_longitude, df.dropoff_latitude))

In [ ]:
gdf.head()

In [ ]:
# Plotting on country level map
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))

In [ ]:
world

In [ ]:
# We restrict to China.
# ax = world[world.name == 'China'].plot(
#     color='white', edgecolor='black', figsize=(20,20))

# We can now plot our ``GeoDataFrame``.
# gdf.plot(ax=ax, color='red')

# plt.show()

#### Attempt 2 - Read china shapefile

In [ ]:
file = geopandas.read_file('../China_map/CHN_roads.dbf')

In [ ]:
gdf_driver = gdf[gdf.driver_id == '0373c98625e6d8e1fc56a4d61318138c']

In [ ]:
f, ax = plt.subplots(1, figsize=(80, 80))
ax = file.plot(axes=ax)
gdf_driver.plot(ax=ax, color='red')
ax.margins(x=-0, y=-0.25)
plt.show()

In [ ]:
# f, ax = plt.subplots(1, figsize=(80, 80))
# ax = file.plot(axes=ax)
# gdf_driver.plot(ax=ax, color='red')
# ax.margins(x=-0.4, y=-0.25)
# plt.show()

## GMAP plotting

In [ ]:
driver_latitude = gps[(gps.driver_id == '0373c98625e6d8e1fc56a4d61318138c') & 
                 (gps.order_id == 'eb9dd4095d9850e6287cefd813775a6c')].sort_values('timestamp').latitude
driver_longitude = gps[(gps.driver_id == '0373c98625e6d8e1fc56a4d61318138c') & 
                 (gps.order_id == 'eb9dd4095d9850e6287cefd813775a6c')].sort_values('timestamp').longitude

In [ ]:
gps[(gps.driver_id == '0373c98625e6d8e1fc56a4d61318138c') & 
                 (gps.order_id == 'eb9dd4095d9850e6287cefd813775a6c')].sort_values('timestamp')

In [ ]:
driver_latitude = list(driver_latitude)
driver_longitude = list(driver_longitude)
min_lat = min(driver_latitude)
min_lon = min(driver_longitude)
max_lat = max(driver_latitude)
max_lon = max(driver_longitude)

In [ ]:
import gmplot 
  
# latitude_list = [ 30.3358376, 30.307977, 30.3216419 ] 
# longitude_list = [ 77.8701919, 78.048457, 78.0413095 ] 
  
gmap5 = gmplot.GoogleMapPlotter(min_lat + (max_lat - min_lat) / 2, min_lon + (max_lon - min_lon) / 2, 12) 

gmap5.marker(min_lat, min_lon, c='red')#, size=40, marker=True)
gmap5.marker(max_lat, max_lon, c='red')#, size=40, marker=True)

gmap5.plot( driver_latitude, driver_longitude, '# FF0000', 
                                size = 50, marker = False) 

gmap5.draw('map.html')
  
# polygon method Draw a polygon with 
# the help of coordinates 
# gmap5.polygon(latitude_list, longitude_list, 
#                    color = 'cornflowerblue')

### Trying heatmap of snapshot of 9 AM rides

In [40]:
time = pd.to_datetime('2016-11-01 09:00:00')
first_orders = orders[['driver_id']].drop_duplicates()
first_orders['snapshot'] = time

In [41]:
first_orders

                               driver_id            snapshot
105100  053c3c3156f27f1055d2516223036e29 2016-11-01 09:00:00
59575   3fe49726673176e92098de74a38d989c 2016-11-01 09:00:00
41744   44a773ba727b57b904612e27b3237eb6 2016-11-01 09:00:00
55455   e3dea9785be1822c7eb037ee058d2001 2016-11-01 09:00:00
150211  9c7983fed0240deed8d06c92b8569ee1 2016-11-01 09:00:00
...                                  ...                 ...
101240  97ea843af908309ee67572ff9e01f6c7 2016-11-01 09:00:00
73398   3daa86de0f877a1ca039a6a8896c8a79 2016-11-01 09:00:00
23275   878b2658feee52e674870baedaee2852 2016-11-01 09:00:00
31914   526bba2ec3962f06c60414d660e00617 2016-11-01 09:00:00
37865   0525c147518a3dea3a0042f606043ae4 2016-11-01 09:00:00

[35449 rows x 2 columns]

In [42]:
# As of merge orders table to join first order pickups on or after 10 AM
## Sort right keys
orders = orders.sort_values('ride_start_timestamp')
df2 = pd.merge_asof(first_orders, orders, 
                    left_on='snapshot', 
                    right_on='ride_start_timestamp', 
                    direction='nearest',
                   by='driver_id')

cols = ['driver_id', 'order_id', 'snapshot', 'ride_start_timestamp',
        'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_longitude']

In [43]:
# Filter times which are at most + or - 5min from 6PM
import numpy as np
df2['time_delta'] = np.abs((df2.snapshot - df2.ride_start_timestamp)).dt.total_seconds() / 60
df2 = df2[df2.time_delta < 10]

In [48]:
df2.head()

,driver_id,snapshot,order_id,ride_start_timestamp,ride_stop_timestamp,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,ride_duration,time_delta
5,0df0e6f5e603188c3e444028c354dbeb,2016-11-01 09:00:00,fda9df5b3dd9c585c54b304d0631a514,2016-11-01 09:06:05,2016-11-01 09:17:41,104.036800,30.681620,104.06332,30.67013,11.600000,6.083333
86,337d4d0e847dd8ad44c27346f80f256f,2016-11-01 09:00:00,ea3b29b8e4b335b5980e4984fd043320,2016-11-01 09:06:48,2016-11-01 09:20:59,104.114200,30.711220,104.15183,30.74553,14.183333,6.800000
116,9b67327c7f75483fd00021887e806fb3,2016-11-01 09:00:00,7abf27fba2139dcc6ee1dc7cbf9411ac,2016-11-01 09:07:31,2016-11-01 09:45:48,104.072701,30.695971,103.96979,30.61981,38.283333,7.516667
129,095fdb0052db44d416aa0ff971d2ec9d,2016-11-01 09:00:00,120d82ed07d94e5eafd80d949d239fdb,2016-11-01 08:53:08,2016-11-01 09:22:45,104.058540,30.644030,104.04559,30.71234,29.616667,6.866667
131,08704ff983c7d1d7affa106d91aa7e4b,2016-11-01 09:00:00,715edb8457eee71df9b41d853aa848b7,2016-11-01 09:09:44,2016-11-01 09:39:23,104.088640,30.755850,104.04332,30.68650,29.650000,9.733333

In [49]:
df2.describe()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,ride_duration,time_delta
count,3181.000000,3181.000000,3181.000000,3181.000000,3181.000000,3181.000000
mean,104.073667,30.678780,104.072586,30.673817,21.172964,4.984507
std,0.044119,0.041697,0.038978,0.037309,12.299920,2.831506
min,103.822210,30.492120,103.863070,30.463230,0.083333,0.000000
25%,104.049390,30.656586,104.052600,30.656420,12.666667,2.566667
50%,104.073631,30.675020,104.072530,30.670020,18.600000,5.050000
75%,104.101712,30.698990,104.092130,30.692110,26.550000,7.350000
max,104.281570,30.978180,104.300050,30.989479,107.983333,9.983333

In [50]:
import gmplot 

driver_latitude = list(df2.pickup_latitude.values)
driver_longitude = list(df2.pickup_longitude.values)
min_lat = min(driver_latitude)
min_lon = min(driver_longitude)
max_lat = max(driver_latitude)
max_lon = max(driver_longitude)
  
gmap4 = gmplot.GoogleMapPlotter(min_lat + (max_lat - min_lat) / 2, min_lon + (max_lon - min_lon) / 2, 12) 
  
# heatmap plot heating Type 
# points on the Google map 
gmap4.heatmap( driver_latitude, driver_longitude ) 
gmap4.draw('heatmap_9AM.html')


driver_latitude = list(df2.dropoff_latitude.values)
driver_longitude = list(df2.dropoff_longitude.values)
min_lat = min(driver_latitude)
min_lon = min(driver_longitude)
max_lat = max(driver_latitude)
max_lon = max(driver_longitude)
  
gmap4 = gmplot.GoogleMapPlotter(min_lat + (max_lat - min_lat) / 2, min_lon + (max_lon - min_lon) / 2, 12) 
  
# heatmap plot heating Type 
# points on the Google map 
gmap4.heatmap( driver_latitude, driver_longitude ) 
gmap4.draw('heatmap_9AM_dropoff.html')

## Heatmap for 6PM

In [51]:
time = pd.to_datetime('2016-11-01 06:00:00')
last_orders = orders[['driver_id']].drop_duplicates()
last_orders['snapshot'] = time

In [52]:
# As of merge orders table to join last order pickups on or after 10 AM
## Sort right keys
orders = orders.sort_values('ride_start_timestamp')
df2 = pd.merge_asof(last_orders, orders, 
                    left_on='snapshot', 
                    right_on='ride_start_timestamp', 
                    direction='nearest',
                   by='driver_id')

cols = ['driver_id', 'order_id', 'snapshot', 'ride_start_timestamp',
        'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_longitude']

In [53]:
# Filter times which are at most + or - 5min from 6PM
import numpy as np
df2['time_delta'] = np.abs((df2.snapshot - df2.ride_start_timestamp)).dt.total_seconds() / 60
df2 = df2[df2.time_delta < 10]

In [54]:
df2.head()

,driver_id,snapshot,order_id,ride_start_timestamp,ride_stop_timestamp,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,ride_duration,time_delta
224,b0bd3d151fbb24d454ccceb5cd045717,2016-11-01 06:00:00,c8b19e93c1adb2087848137bf50e8445,2016-11-01 06:02:47,2016-11-01 06:24:35,104.067121,30.553106,104.043290,30.656260,21.800000,2.783333
245,78d3213df4bf6e13f07f3f26a750a246,2016-11-01 06:00:00,79c5d715eaa9ce049365255e5000afec,2016-11-01 06:08:01,2016-11-01 06:19:17,104.056499,30.722360,104.054590,30.694880,11.266667,8.016667
263,a3499d71b7f3c50993da20273041c899,2016-11-01 06:00:00,234469ae04ca0d74726b48d09c4a473b,2016-11-01 06:01:49,2016-11-01 06:07:29,104.129810,30.666990,104.109840,30.670980,5.666667,1.816667
303,187c84c39406a389d1f4e42c764ac29a,2016-11-01 06:00:00,b9dbfaab7de51fd08f41654611167ba2,2016-11-01 06:01:23,2016-11-01 06:20:08,104.068718,30.762030,104.090177,30.681627,18.750000,1.383333
406,243d0bbe1e110ff58b1a984b3fcbba66,2016-11-01 06:00:00,dbb12cbbd6f73ff54fd2a7d13837b9f2,2016-11-01 05:57:42,2016-11-01 06:19:43,104.134620,30.605720,104.098253,30.667558,22.016667,2.300000

In [55]:
df2.describe()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,ride_duration,time_delta
count,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000
mean,104.069751,30.679574,104.059172,30.659011,19.216016,4.880078
std,0.047120,0.044621,0.060815,0.051250,9.687288,2.894696
min,103.845281,30.534428,103.838180,30.519219,2.616667,0.000000
25%,104.046644,30.654728,104.037605,30.629215,12.433333,2.300000
50%,104.072321,30.676130,104.071865,30.663418,17.758333,4.733333
75%,104.098128,30.698707,104.086433,30.690243,24.258333,7.404167
max,104.231667,30.823140,104.299510,30.928100,79.033333,9.966667

In [56]:
import gmplot 

driver_latitude = list(df2.pickup_latitude.values)
driver_longitude = list(df2.pickup_longitude.values)
min_lat = min(driver_latitude)
min_lon = min(driver_longitude)
max_lat = max(driver_latitude)
max_lon = max(driver_longitude)
  
gmap4 = gmplot.GoogleMapPlotter(min_lat + (max_lat - min_lat) / 2, min_lon + (max_lon - min_lon) / 2, 12) 
  
# heatmap plot heating Type 
# points on the Google map 
gmap4.heatmap( driver_latitude, driver_longitude ) 
gmap4.draw('heatmap_6PM.html')


driver_latitude = list(df2.dropoff_latitude.values)
driver_longitude = list(df2.dropoff_longitude.values)
min_lat = min(driver_latitude)
min_lon = min(driver_longitude)
max_lat = max(driver_latitude)
max_lon = max(driver_longitude)
  
gmap4 = gmplot.GoogleMapPlotter(min_lat + (max_lat - min_lat) / 2, min_lon + (max_lon - min_lon) / 2, 12) 
  
# heatmap plot heating Type 
# points on the Google map 
gmap4.heatmap( driver_latitude, driver_longitude ) 
gmap4.draw('heatmap_6PM_dropoff.html')

## Plotting all ride start locations

In [35]:
cols = ['driver_id', 'order_id', 'ride_start_timestamp', 'ride_stop_timestamp', 
        'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']
driver_latitude = list(orders[cols].drop_duplicates().pickup_latitude.values)
driver_longitude = list(orders[cols].drop_duplicates().pickup_longitude.values)
min_lat = min(driver_latitude)
min_lon = min(driver_longitude)
max_lat = max(driver_latitude)
max_lon = max(driver_longitude)
  
gmap4 = gmplot.GoogleMapPlotter(min_lat + (max_lat - min_lat) / 2, min_lon + (max_lon - min_lon) / 2, 12) 
  
# heatmap plot heating Type 
# points on the Google map 
gmap4.heatmap( driver_latitude, driver_longitude ) 
gmap4.draw('heatmap_all_pickup.html')

## Plotting all ride stop locations

In [36]:
cols = ['driver_id', 'order_id', 'ride_start_timestamp', 'ride_stop_timestamp', 
        'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']
driver_latitude = list(orders[cols].drop_duplicates().dropoff_latitude.values)
driver_longitude = list(orders[cols].drop_duplicates().dropoff_longitude.values)
min_lat = min(driver_latitude)
min_lon = min(driver_longitude)
max_lat = max(driver_latitude)
max_lon = max(driver_longitude)
  
gmap4 = gmplot.GoogleMapPlotter(min_lat + (max_lat - min_lat) / 2, min_lon + (max_lon - min_lon) / 2, 12) 
  
# heatmap plot heating Type 
# points on the Google map 
gmap4.heatmap( driver_latitude, driver_longitude ) 
gmap4.draw('heatmap_all_dropoff.html')